<script class="js-section-settings" type="application/json">
    {
        "section_settings": 
            {
              "section_id": "{{ section.id }}",
              "title": "{{ section.settings.title }}",
              "heading_size": "{{ section.settings.heading_size }}",
              "description": "{{ section.settings.description }}",
              "show_description": {{ section.settings.show_description }},
              "description_style": "{{ section.settings.description_style }}",
              "collection": "{{ section.settings.collection }}",
              "products_to_show": {{ section.settings.products_to_show }},
              "columns_desktop": {{ section.settings.columns_desktop }},
              "full_width": {{ section.settings.full_width }},
              "show_view_all": {{ section.settings.show_view_all }},
              "view_all_style": "{{ section.settings.view_all_style }}",
              "enable_desktop_slider": {{ section.settings.enable_desktop_slider }},
              "color_scheme": "{{ section.settings.color_scheme }}",
              "image_ratio": "{{ section.settings.image_ratio }}",
              "image_shape": "{{ section.settings.image_shape }}",
              "show_secondary_image": {{ section.settings.show_secondary_image }},
              "show_vendor": {{ section.settings.show_vendor }},
              "show_rating": {{ section.settings.show_rating }},
              "quick_add": "{{ section.settings.quick_add }}",
              "columns_mobile": {{ section.settings.columns_mobile }},
              "swipe_on_mobile": {{ section.settings.swipe_on_mobile }},
              "padding_top": {{ section.settings.padding_top }},
              "passing_bottom": {{ section.settings.padding_bottom }},
              "animations_reveal_on_scroll": {{ settings.animations_reveal_on_scroll }},
              "card_style": "{{ settings.card_style }}",
              "card_color_scheme": "{{ settings.card_color_scheme }}",
              "page_width": {{ settings.page_width }},
              "badge_position": "{{ settings.badge_position }}",
              "sale_badge_color_scheme": "{{ settings.sale_badge_color_scheme }}",
              "sold_out_badge_color_scheme": "{{ settings.sold_out_badge_color_scheme }}"
            }
        
    }
</script>
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'template-collection.css' | asset_url | stylesheet_tag }}

{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- unless section.settings.quick_add == 'none' -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endunless -%}

{%- if section.settings.quick_add == 'standard' -%}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- if section.settings.quick_add == 'bulk' -%}
  <script src="{{ 'quick-add-bulk.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quick-order-list.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign products_to_display = section.settings.collection.all_products_count

  if section.settings.collection.all_products_count > section.settings.products_to_show
    assign products_to_display = section.settings.products_to_show
    assign more_in_collection = true
  endif

  assign columns_mobile_int = section.settings.columns_mobile | plus: 0
  assign show_mobile_slider = false
  if section.settings.swipe_on_mobile and products_to_display > columns_mobile_int
    assign show_mobile_slider = true
  endif

  assign show_desktop_slider = false
  if section.settings.enable_desktop_slider and products_to_display > section.settings.columns_desktop
    assign show_desktop_slider = true
  endif
-%}

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const sectionId = "{{ section.id }}".replace("__", "-")
    const rawData_sectionId = document.querySelector('.js-section-settings')
    const settingsObj = JSON.parse(rawData_sectionId.innerText)
    const settings = settingsObj.section_settings
    const productsArray = {{ section.settings.collection.products | json }};
    let arrayLength = {{ section.settings.collection.products | size }};
    let randomIndexes = new Set();
    let itemsToDisplay = Math.min({{ products_to_display }}, arrayLength);
    const listContainer = document.getElementById('Slider-' + sectionId);
    let productContent = '';

    while (randomIndexes.size < itemsToDisplay) {
      let randomIndex = Math.floor(Math.random() * arrayLength);

      // Check if the index is already in the Set
      if (!randomIndexes.has(randomIndex)) {
        randomIndexes.add(randomIndex);
        
        // Grab the product that matches the randomIndex
        let randomProduct = productsArray[randomIndex];
        let ratio = 1;
        if(settings.image_ratio === 'portrait'){
          ratio = 0.8
        } 
        console.log(randomProduct)
        productContent += `
          <li 
            id="Slide-${sectionId}-${randomIndex}"
            class="grid__item ${settings.animations_reveal_on_scroll ? 'slider__slide' : ''} ${settings.animations_reveal_on_scroll ?  'scroll-trigger animate--slide-in' : '' }" 
            ${settings.animations_reveal_on_scroll ? (
              `data-cascade="" style="--animation-order: 1;"`
            ): ''}
          >
             
              <link href="//tum-yeto.myshopify.com/cdn/shop/t/12/assets/component-volume-pricing.css?v=111870094811454961941739291662" rel="stylesheet" type="text/css" media="all">

              <link href="//tum-yeto.myshopify.com/cdn/shop/t/12/assets/component-price.css?v=70172745017360139101739291659" rel="stylesheet" type="text/css" media="all">
              <link href="//tum-yeto.myshopify.com/cdn/shop/t/12/assets/quick-order-list.css?v=129932180309343703061739291670" rel="stylesheet" type="text/css" media="all">
              <link href="//tum-yeto.myshopify.com/cdn/shop/t/12/assets/quantity-popover.css?v=129068967981937647381739291671" rel="stylesheet" type="text/css" media="all">
              <div class="card-wrapper product-card-wrapper underline-links-hover">
                <div class=" card card--${settings.card_style} ${settings.card_style === 'card'? `color-${settings.color_scheme} gradient` : ''} ${settings.image_shape != 'default' ? 'card--shape' : ''  } card--media" style="--ratio-percent: ${1 / ratio * 100}%">
                  <div class="card__inner ${settings.card_style === 'standard' ? `ratio color${settings.card_color_scheme} gradient` : ''}  " style="--ratio-percent: ${1 / ratio * 100}%">
                    <div class="card__media ${settings.image_shape != 'default' ? `shape--${settings.image_shape} color-${settings.card_color_scheme} gradient`: ''  }">
                      <div class="media media--transparent media--hover-effect">
                        <img src="${randomProduct.featured_image}" style="object-fit:contain;"  alt="${randomProduct.title}" class="motion-reduce" loading="lazy" width="${randomProduct.media[0].width}" height="${randomProduct.media[0].height}">
                        ${settings.show_secondary_image && randomProduct.media[1] ? (
                          `<img src="${randomProduct.randomProduct.media[1].src}" style="object-fit:contain;"  alt="${randomProduct.title}" class="motion-reduce" loading="lazy" width="${randomProduct.media[1].width}" height="${randomProduct.media[1].height}">`
                        ): ''}
                      </div>
                    </div>
                    <div class="card__content">
                      <div class="card__information">
                        <h3 class="card__heading">
                          <a href="/products/${randomProduct.handle}/" id="StandardCardNoMediaLink-${settings.sectionId}--${randomProduct.id}" class="full-unstyled-link" aria-labelledby="StandardCardNoMediaLink-${settings.sectionId}-${randomProduct.id}  NoMediaStandardBadge-${settings.sectionId}-${randomProduct.id}">
                              ${randomProduct.title}
                          </a>
                        </h3>
                      </div>
                      <div class="card__badge ${settings.badge_position}">
                        ${!randomProduct 
                          ? `
                            <span
                              id="NoMediaStandardBadge-${settings.sectionId}-${settings.sectionId}"
                              class="badge badge--bottom-left color-${settings.sold_out_badge_color_scheme}"
                            >
                              {{- 'products.product.sold_out' | t -}}
                            </span>
                          `
                          : (randomProduct.compare_at_price > randomProduct.price && randomProduct.available) 
                          ? `
                            <span 
                              id="NoMediaStandardBadge-${settings.sectionId}-${randomProduct.id}" 
                              class="badge badge--bottom-left color-${settings.sold_out_badge_color_scheme}">
                              {{- 'products.product.on_sale' | t -}}
                            </span>
                          `
                          : '' // Optional: Fallback empty string
                        }
                      </div>
                    </div>
                  </div>
                  <div class="card__content">
                    <div class="card__information">
                      <h3 class="card__heading ${randomProduct.featured_image || settings.card_style === 'standard' ? 'h5' : ""}" 
                      ${randomProduct.featured_media || settings.card_styles === 'card' ? `id="title-${sectionId}-${randomProduct.id}"` : ``}
                      >
                        <a href="/products/${randomProduct.handle}/" id="CardLink-${sectionId}-${randomProduct.id}" class="full-unstyled-link" aria-labelledby="CardLink-${sectionId}-${randomProduct.id} Badge-${sectionId}-${randomProduct.id}">
                          ${randomProduct.title}
                        </a>
                      </h3>
                      <div class="card-information">
                        ${settings.show_vendor ? (
                          `
                            <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
                            <div class="caption-with-letter-spacing light">${randomProduct.vendor}</div>
                          `
                        ): (``)}
                      
                      <div class="price ">
                        <div class="price__container"><div class="price__regular">
                          <span class="visually-hidden visually-hidden--inline">Regular price</span>
                          <span class="price-item price-item--regular">
                            ${new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(randomProduct.price / 100)}
                          </span>
                        </div>
                        <div class="price__sale">
                          <span class="visually-hidden visually-hidden--inline">Regular price</span>
                          <span><s class="price-item price-item--regular"></s></span>
                          <span class="visually-hidden visually-hidden--inline">Sale price</span>
                          <span class="price-item price-item--sale price-item--last">
                            ${new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(randomProduct.price / 100)}
                          </span>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="card__badge bottom left"></div>
            </div>
          </div>
        </div>
        </li>
        `;
      }
    }
    
  
    
    listContainer.innerHTML = productContent;
  })

</script>

<div
  class="color-{{ section.settings.color_scheme }} isolate gradient"
>
  <div
    class="collection{% if section.settings.quick_add == 'bulk' %} collection-quick-add-bulk{% endif %} section-{{ section.id }}-padding{% if section.settings.full_width %} collection--full-width{% endif %}"
    id="collection-{{ section.id }}"
    data-id="{{ section.id }}"
  >
    <div class="collection__title title-wrapper title-wrapper--no-top-margin page-width{% if show_mobile_slider %} title-wrapper--self-padded-tablet-down{% endif %}{% if show_desktop_slider %} collection__title--desktop-slider{% endif %}">
      {%- if section.settings.title != blank -%}
        <h2 class="title inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
          {{ section.settings.title }}
        </h2>
      {%- endif -%}
      {%- if section.settings.description != blank
        or section.settings.show_description
        and section.settings.collection.description != empty
      -%}
        <div class="collection__description {{ section.settings.description_style }} rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
          {%- if section.settings.show_description -%}
            {{ section.settings.collection.description }}
          {%- else -%}
            {{ section.settings.description -}}
          {%- endif %}
        </div>
      {%- endif -%}
    </div>

    <slider-component class="slider-mobile-gutter{% if section.settings.full_width %} slider-component-full-width{% endif %}{% if show_mobile_slider == false %} page-width{% endif %}{% if show_desktop_slider == false and section.settings.full_width == false %} page-width-desktop{% endif %}{% if show_desktop_slider %} slider-component-desktop{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      <ul
        id="Slider-{{ section.id | replace: "__", "-"}}"
        data-id="{{ section.id | replace: "__", "-" }}"
        class="grid product-grid contains-card contains-card--product{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid--{{ section.settings.columns_desktop }}-col-desktop{% if section.settings.collection == blank %} grid--2-col-tablet-down{% else %} grid--{{ section.settings.columns_mobile }}-col-tablet-down{% endif %}{% if show_mobile_slider or show_desktop_slider %} slider{% if show_desktop_slider %} slider--desktop{% endif %}{% if show_mobile_slider %} slider--tablet grid--peek{% endif %}{% endif %}"
        role="list"
        aria-label="{{ 'general.slider.name' | t }}"
      >
        
      </ul>
      {%- if show_mobile_slider or show_desktop_slider -%}
        <div class="slider-buttons">
          <button
            type="button"
            class="slider-button slider-button--prev"
            name="previous"
            aria-label="{{ 'general.slider.previous_slide' | t }}"
            aria-controls="Slider-{{ section.id | replace: "__", "-" }}"
          >
            <span class="svg-wrapper">
              {{- 'icon-caret.svg' | inline_asset_content -}}
            </span>
          </button>
          <div class="slider-counter caption">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
            <span class="slider-counter--total">{{ products_to_display }}</span>
          </div>
          <button
            type="button"
            class="slider-button slider-button--next"
            name="next"
            aria-label="{{ 'general.slider.next_slide' | t }}"
            aria-controls="Slider-{{ section.id | replace: "__", "-"}}"
          >
            <span class="svg-wrapper">
              {{- 'icon-caret.svg' | inline_asset_content -}}
            </span>
          </button>
        </div>
      {%- endif -%}
    </slider-component>

    {%- if section.settings.show_view_all and more_in_collection -%}
      <div class="center collection__view-all{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        <a
          href="{{ section.settings.collection.url }}"
          class="{% if section.settings.view_all_style == 'link' %}link underlined-link{% elsif section.settings.view_all_style == 'solid' %}button{% else %}button button--secondary{% endif %}"
          aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: section.settings.collection.title | escape }}"
        >
          {{ 'sections.featured_collection.view_all' | t }}
        </a>
      </div>
    {%- endif -%}
    {% if section.settings.image_shape == 'arch' %}
      {{ 'mask-arch.svg' | inline_asset_content }}
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.featured-collection.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "t:sections.featured-collection.settings.title.default",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.featured-collection.settings.description.label"
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "t:sections.featured-collection.settings.show_description.label",
      "default": false
    },
    {
      "type": "select",
      "id": "description_style",
      "label": "t:sections.featured-collection.settings.description_style.label",
      "options": [
        {
          "value": "body",
          "label": "t:sections.featured-collection.settings.description_style.options__1.label"
        },
        {
          "value": "subtitle",
          "label": "t:sections.featured-collection.settings.description_style.options__2.label"
        },
        {
          "value": "uppercase",
          "label": "t:sections.featured-collection.settings.description_style.options__3.label"
        }
      ],
      "default": "body"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 25,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-collection.settings.columns_desktop.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.featured-collection.settings.full_width.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "t:sections.featured-collection.settings.show_view_all.label"
    },
    {
      "type": "select",
      "id": "view_all_style",
      "label": "t:sections.featured-collection.settings.view_all_style.label",
      "options": [
        {
          "value": "link",
          "label": "t:sections.featured-collection.settings.view_all_style.options__1.label"
        },
        {
          "value": "outline",
          "label": "t:sections.featured-collection.settings.view_all_style.options__2.label"
        },
        {
          "value": "solid",
          "label": "t:sections.featured-collection.settings.view_all_style.options__3.label"
        }
      ],
      "default": "solid"
    },
    {
      "type": "checkbox",
      "id": "enable_desktop_slider",
      "label": "t:sections.featured-collection.settings.enable_desktop_slider.label",
      "default": false
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.featured-collection.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.image_shape.options__1.label"
        },
        {
          "value": "arch",
          "label": "t:sections.all.image_shape.options__2.label"
        },
        {
          "value": "blob",
          "label": "t:sections.all.image_shape.options__3.label"
        },
        {
          "value": "chevronleft",
          "label": "t:sections.all.image_shape.options__4.label"
        },
        {
          "value": "chevronright",
          "label": "t:sections.all.image_shape.options__5.label"
        },
        {
          "value": "diamond",
          "label": "t:sections.all.image_shape.options__6.label"
        },
        {
          "value": "parallelogram",
          "label": "t:sections.all.image_shape.options__7.label"
        },
        {
          "value": "round",
          "label": "t:sections.all.image_shape.options__8.label"
        }
      ],
      "default": "default",
      "label": "t:sections.all.image_shape.label",
      "info": "t:sections.all.image_shape.info"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_rating.label",
      "info": "t:sections.featured-collection.settings.show_rating.info"
    },
    {
      "type": "select",
      "id": "quick_add",
      "default": "none",
      "label": "t:sections.main-collection-product-grid.settings.quick_add.label",
      "info": "t:sections.main-collection-product-grid.settings.quick_add.info",
      "options": [
        {
          "value": "none",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_1"
        },
        {
          "value": "standard",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_2"
        },
        {
          "value": "bulk",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_3"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.featured-collection.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.featured-collection.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.featured-collection.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.featured-collection.settings.swipe_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-collection.presets.name"
    }
  ]
}
{% endschema %}
